a {
  color: $body-font-color !important;
  border-bottom: 1px solid $black;

  &:hover {
    border-bottom: 2px solid $black;
  }

  &.call-to-action {
    border: none;
  }

  &.call-to-action {
    display: inline-block;
    border: rem-calc(5px) solid $body-font-color;
    padding: $button-padding;

    &:hover {
      background: lightgray;
    }
  }
}

img {
  max-width: 100%;
}

p, ol, ul {
  &:last-child {
    margin-bottom: 0;
  }
}

ul.menu {

  list-style: none;
  margin: 0;

  >li {
    &.current {
      font-weight: $global-weight-bold;
    }
  }
}

button, .call-to-action {
  display: inline-block;
  border: rem-calc(5px) solid $body-font-color !important;
  padding: $button-padding !important;

  &:hover {
    background: lightgray;
  }
}

.page {

//  font-size: rem-calc($page-font-size);
//
//  a {
//    color: $body-font-color !important;
//    border-bottom: rem-calc(1px) solid $body-font-color;
//
//    &:hover:not(.call-to-action) {
//      border-bottom-width: rem-calc(2px);
//    }
//
//    &.call-to-action {
//      display: inline-block;
//      border: rem-calc(5px) solid $body-font-color;
//      padding: $button-padding;
//
//      &:hover {
//        background: lightgray;
//      }
//    }
//  }

//  .page-aside {
////    margin-top: -3em;
//    font-size: rem-calc($global-font-size);
//
//    h1 {
//      @extend h5;
//    }
//
//    nav {
//
//      >ul {
//        @include menu-base;
//        @include menu-direction(vertical);
//        margin: 0 -1rem;
//
//        >li a {
//          padding: 0.2rem 1rem !important;
//          border: 0;
//          &:hover{
//            text-decoration: underline;
//          }
//        }
//      }
//    }
//  }

//  article {
//    header {
//      margin-bottom: 3em;
//      h1 {
//        display: none;
//      }
//
//      p {
//        @extend h1;
//        display: block;
//      }
//    }
//  }
//
//  .verbose-nav {
//    margin: 2rem 0;
//  }
}

//.site-footer {
//
//  a:hover {
//    text-decoration: underline;
//  }
//
//  .logo {
//    height: rem-calc(50px);
//  }
//
//  .footer-widgets {
//    display: flex;
//    justify-content: space-between;
//    margin-bottom: 2em;
//
//    .widget {
//      width: 33%;
//      flex-grow: 1;
//      text-align: center;
//
//      p:last-child {
//        margin-bottom: 0;
//      }
//    }
//
//    .widget:first-child {
//      text-align: left;
//    }
//
//    .widget:last-child {
//      text-align: right;
//    }
//  }
//}

