body >header {

  a {
    border: none !important;
  }

  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;

  h1 {

    text-align: center;
    line-height: $logo-size;

    a {
      display: block;
      width: $logo-size;
      text-indent: -9999px;
      background-image: url(../gfx/lsb-logo.svg);
      background-size: $logo-size;
      background-repeat: no-repeat;
      background-position: 50% 50%;

      height: 100%;
      width: 100%;
    }

    margin-bottom: 0;
  }

  button {
    display: none;
    @extend .call-to-action;
  }

  @include breakpoint(medium down) {

    nav {
      width: 100%;
    }

    button {
      display: block;
    }

    #site-navigation {
      display: none;
      text-align: center;

      &.expanded {
        display: block;
      }

      li {
        a {
          display: inline-block;
          padding: 0.5rem 1rem;
        }
      }

      ul {
        margin: 1rem 0;
      }

      ul.network-navigation {
        background: $primary-color;

        .current {
          display: none;
        }
      }
    }
  }

  @include breakpoint(large) {
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      ul.menu {
        margin: 0 -0.7rem;

        li {
          display: inline-block;
          padding: 0.1rem 0.7rem;

          a {
            border-bottom: 1px solid transparent !important;
          }

          &:hover {
            a {
              border-bottom: 1px solid $black !important;
            }
          }
        }
      }
    }
  }
}
