body >header {

  $logo-size: 6rem;

  a {
    border-color: transparent;
  }

  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;

  h1 {

    text-align: center;
    height: $logo-size;
    min-width: $logo-size;

    a {
      display: block;
      width: $logo-size;
      text-indent: -9999px;
      background-image: url(../gfx/lsb-logo.svg);
      background-size: $logo-size;
      background-repeat: no-repeat;
      background-position: 50% 50%;

      height: 100%;
      width: 100%;
    }

    margin-bottom: 0;
  }

  nav {
    li:hover {
      a {
        border-bottom: 1px solid $black;
      }
    }
  }

  button {
    display: none;
  }

  @include breakpoint(medium down) {

    nav {
      width: 100%;
    }

    button {
      display: block;
    }

    #site-navigation {
      display: none;
      text-align: center;

      &.expanded {
        display: block;
      }

      li {
        a {
          display: inline-block;
          padding: 0.5rem 1rem;
        }
      }
    }
  }

  @include breakpoint(large) {
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      ul.menu {
        margin: 0 -1rem;
        li {
          display: inline-block;
          padding: 1rem;
        }
      }
    }
  }

//  @include breakpoint(large) {
//
//    display: flex;
//    align-items: center;
//    position: relative;
//
//    h1 {
//      width: rem-calc($main-aside-width);
//    }
//
//    ul.network-navigation {
//      text-align: center;
//      position: absolute;
//      left: 1rem;
//      top: $logo-size+3;
//      width: rem-calc($main-aside-width);
//    }
//
//    nav#site-navigation {
//      ul {
//        display: flex;
//        margin-right: -1rem;
//        li {
//          padding: 1rem;
//        }
//      }
//    }
//  }

  @include breakpoint(small) {

    ul.network-navigation {
      margin: -1rem;
      margin-bottom: 0;
      background: lightgray;
      list-style: none;
      display: flex;

      li {

        border: 1px solid lightgray;

        &.current {
          background-color: $white;
          border-color: $white;
        }

        &:hover {
          background-color: $white;
        }

        a {
          display: block;
          padding: 1rem;
        }
      }
    }
  }
}
