body {

  >header, >main, >footer {
    padding: 1rem 0;
    margin: 0 auto;
    max-width: map-get($breakpoints, xxlarge);

    >header, >nav, >article, >ul, >div {
      margin: 1rem 0;
    }
  }

  @include breakpoint(small only) {
    >header, >main, >footer {
      padding: 1rem;
    }
  }

  @include breakpoint(medium) {
    >main, >footer {
      width: 90%;
    }
  }

  @include breakpoint(large) {

    >header {
      h1 {
        width: 15%;
      }
      nav, >main, >footer {
        width: 85%;
        padding-right: 8%;
      }
    }

    >main, >footer {
      width: 70%;
    }
  }

  @include breakpoint(xlarge) {
    >header {
      h1 {
        width: 20%;
      }
      nav {
        width: 80%;
      }
    }

    >main, >footer {
      width: 60%;
    }
  }
}

//@include breakpoint(small only) {
//  body {
//    background: lightgreen !important;
//  }
//}
//
//@include breakpoint(medium only) {
//  body {
//    background: lightblue !important;
//  }
//}
//
//@include breakpoint(large only) {
//  body {
//    background: lightpink !important;
//  }
//}
