body {

  max-width: map-get($breakpoints, xxlarge) !important;

  >header, >main, >footer {
    margin: 2rem auto;
  }

  >main {
    >section, >nav {
      margin: 2rem 0;
    }
  }

  >footer {
    >div {
      margin: 1rem 0;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

  }

  @include breakpoint(medium down) {
    >header, >main, >footer {
      padding: 1rem;
    }

    >header {
      h1 {
        width: $logo-size;
      }

      margin-bottom: 0;
    }

    >main {
      margin-top: 0;
      max-width: rem-calc(750px);

      article, section {
        margin: 2rem 0;
      }
    }

    >footer {
      max-width: rem-calc(750px);
    }
  }

  @include breakpoint(large) {

    $main-width: map-get($main-widths, large);
    $side-columns: (100-$main-width)/2;

    >header {
      position: relative;

      h1 {
        width: $side-columns;
      }

      nav#site-navigation {
        width: 100-$side-columns;
        padding-right: $side-columns/2;

        .network-navigation {
          position: absolute;
          width: $side-columns;
          left: 0;
          top: $logo-size+1;
          text-align: center;
          margin: 0 !important;
          font-size: rem-calc(14px);

          li {
            display: block !important;

            a {
              opacity: 0.5;
            }

            &.current a {
              opacity: 1;
            }
          }
        }
      }
    }

    >main {
      width: $main-width;
      margin-top: 4rem;

      article, section {
        margin: 4rem 0;
      }

      .book-shelf, .book-archive {
        margin: 0 -20%;
      }
    }

    >footer {
      width: $main-width;
    }
  }

  @include breakpoint(xlarge) {
    $main-width: map-get($main-widths, xlarge);
    $side-columns: (100-$main-width)/2;

    >header {
      h1 {
        width: $side-columns;
      }
      nav#site-navigation {
        width: 100-$side-columns;

        .network-navigation {
          width: $side-columns;
        }
      }
    }

    >main {
      width: $main-width;
    }

    >footer {
      width: $main-width;
    }
  }
}

//@include breakpoint(small only) {
//  body {
//    background: lightgreen !important;
//  }
//}
//
//@include breakpoint(medium only) {
//  body {
//    background: lightblue !important;
//  }
//}
//
//@include breakpoint(large only) {
//  body {
//    background: lightpink !important;
//  }
//}
